.idea/workspace.xml
.idea/tasks.xml
build/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
.DS_Store
doc/
build.log
image-full-galileo/
debian/galileo-terremoti/
debian/galileo-terremoti.log
debian/galileo-terremoti.substvars
debian/galileo-terremoti.*.debhelper
debian/galileo-terremoti.*.debhelper.log
debian/galileo-terremoti.debhelper.log
debian/files
cmake-build-debug/