Package: galileo-terremoti
Version: 2.12
Architecture: amd64
Maintainer: SapienzaApps <sapienzaapps@gmail.com>
Installed-Size: 122
Depends: libc6 (>= 2.14), libgcc1 (>= 1:4.1.1), libstdc++6 (>= 4.5)
Section: utils
Priority: optional
Homepage: http://www.seismocloud.com/
Description: SeismoCloud
