Source: galileo-terremoti
Section: utils
Priority: optional
Maintainer: SapienzaApps <sapienzaapps@gmail.com>
Build-Depends: debhelper (>= 7), make, lsb-release, wiringpi
Standards-Version: 3.9.5
Homepage: http://www.seismocloud.com/

Package: galileo-terremoti
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ntp, curl, wiringpi, bash
Description: SeismoCloud
